*{
    padding: 0;
    margin:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 220, 245);
    
}
.errores{
    font-size:0.8em;
    color: red;
}
.Encabezado{
    background-color: #0d6efd;
}
a:link, a:visited, a:active {
    text-decoration:none;
    transition:  .5s;
    color:white;
}
p a:hover{
    transition: .2s;
    color: rgb(35, 112, 251);
}